<mat-toolbar class="title-toolbar">
    <span>Usuários</span>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="userList">        
    <form>
        <mat-form-field>
            <input matInput placeholder="Pesquisar" type="text" name="filter" (keyup)="setFilterBy($event)">
        </mat-form-field>
        <button mat-icon-button routerLink="/user"><mat-icon aria-hidden="false" aria-label="icon">add</mat-icon></button>
    </form>

    <mat-card *ngFor="let item of items | filter: filterBy" >
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.email }}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button routerLink="/user/{{ item.id }}">Editar</button>
            <button mat-button color="accent" (click)="delete(item)">Remover</button>
        </mat-card-actions>
    </mat-card>
</div>