<mat-toolbar class="title-toolbar">
    <span>Usuário</span>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="user">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Nome" type="text" name="name" formControlName="name" maxlength="50"/>
            <mat-error *ngIf="userForm.controls.name.invalid && userForm.controls.name.touched">
                Esse campo não pode ser vazio
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="email" name="email" formControlName="email" placeholder="E-mail" maxlength="40"/>
            <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">
                Esse campo não pode ser vazio
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" name="cpf" formControlName="cpf" placeholder="CPF" maxlength="11"/>
            <mat-error *ngIf="userForm.controls.cpf.invalid && userForm.controls.cpf.touched">
                Esse campo não pode ser vazio
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" name="address" formControlName="address" placeholder="rua" maxlength="70"/>
            <mat-error *ngIf="userForm.controls.address.invalid && userForm.controls.address.touched">
                Esse campo não pode ser vazio
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" name="number" formControlName="number" placeholder="número e apto" maxlength="10"/>
            <mat-error *ngIf="userForm.controls.number.invalid && userForm.controls.number.touched">
                Esse campo não pode ser vazio
            </mat-error>
        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" name="zip" formControlName="zip" placeholder="cep" maxlength="9"/>
            <mat-error *ngIf="userForm.controls.zip.invalid && userForm.controls.zip.touched">
                Esse campo não pode ser vazio
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" [disabled]="!userForm.valid" color="#00FF00	">
            <span *ngIf="!userId">Criar</span>
            <span *ngIf="userId">Atualizar</span>
        </button>
    </form>
</div>