<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="start">
    <form [formGroup]="loginSignupForm" (ngSubmit)="onSubmit()">
        
        <mat-card>
            <mat-form-field>
                <input matInput type="email" name="email" formControlName="email" placeholder="email" maxlength="50"/>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" name="password" formControlName="password" placeholder="senha" maxlength="30"/>
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="!loginForm">
                <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirme sua senha" maxlength="30"/>
                <mat-error *ngIf="(loginSignupForm.controls.confirmPassword.invalid && loginSignupForm.controls.confirmPassword.touched) && (loginSignupForm.controls.password.value != loginSignupForm.controls.confirmPassword.value)">
                    Senhas não coincidem. Favor verificar novamente. 
                </mat-error>
            </mat-form-field>
        </mat-card>

        <button mat-raised-button type="submit" color="accent" class="submitButton" [disabled]="!loginSignupForm.valid && !loginForm">
            <span *ngIf="loginForm">Fazer Login</span>
            <span *ngIf="!loginForm">Criar uma conta</span>
        </button>
       
        <button mat-button type="button" (click)="changeForm()" class="changeFormButton">
            <span *ngIf="!loginForm">Já tenho uma conta no NAngular</span>
            <span *ngIf="loginForm">Não tenho uma conta no NAngular</span>
        </button>
        
    </form>
</div>